In [20]:
import pandas as pd

def rank_column_desc(df, col_name):
    # Sort the column in descending order and create a mapping from value to rank
    sorted_values = df[col_name].sort_values(ascending=False).reset_index(drop=True)
    value_to_rank = {value: rank for rank, value in enumerate(sorted_values)}

    # Map the original column values to their ranks
    return df[col_name].map(value_to_rank)

# Sample dataframe
df = pd.DataFrame({'a': [1, 3, 2, 4, 5],'b': [60, 17, 81, 39, 18]})

# Apply the function and create the new column
df['a_rank'] = rank_column_desc(df, 'a')
df['b_rank'] = rank_column_desc(df, 'b')
df
import numpy as np

df['ab_rank'] = np.min([df['a_rank'], df['b_rank']],axis=0)
df.sort_values(by='ab_rank')

   a   b  a_rank  b_rank  ab_rank
0  1  60       4       1        1
1  3  17       2       4        2
2  2  81       3       0        0
3  4  39       1       2        1
4  5  18       0       3        0

In [27]:
df.sort_values(by='ab_rank')

   a   b  a_rank  b_rank  ab_rank
2  2  81       3       0        0
4  5  18       0       3        0
0  1  60       4       1        1
3  4  39       1       2        1
1  3  17       2       4        2